<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="newstore">
        <div class="left">
            <div class="left-desktop">
                <div class="header">
                    <h4 class="hidden">HEARTC</h4>
                    <h4><i class="fa-solid fa-store"></i></h4>
                    <div class="icon">
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-arrow-left hidden"></i>
                    </div>
                </div>
                <div class="menu-store">
                    <div class="content">
                        <i class="fa-solid fa-gauge-high"></i>
                        <p class="hidden">DASHBOARD</p>
                    </div>
                    <h6 class="hidden">UI ELEMENTS</h6>
                    <div class="content">
                        <i class="fa-solid fa-table"></i>
                        <p class="hidden">RESERVATION</p>
                    </div>
                    <div class="content">
                        <i class="fa-solid fa-utensils"></i>
                        <p class="hidden">ORDER FOOD</p>
                    </div>
                    <div class="content">
                        <i class="fa-solid fa-credit-card"></i>
                        <p class="hidden">PAY BILL</p>
                    </div>
                    <div class="content">
                        <i class="fa-regular fa-user"></i>
                        <p class="hidden">INFORMATION</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-desktop">
                <div class="Navbar shadow">
                    <div class="navbar-start">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-bell"></i>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="navbar-end">
                        <div class="flag-icon"></div>
                        <div class="cicle-icon" data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Notification</a></li>
                                <li><a class="dropdown-item" href="#">Setting</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-right">
                     <div class="main-header">
                        <h5></h5>                   
                     </div>
                    <div class="box">
                        <p> DASHBOARD </p>
                    </div>                
                    <div class="box">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                              <div class="col">
                                <div class="card shadow p-2 mt-2">
                                    <p>3</p>
                                      <div class="card-img">
                                        <img src="../img/7268411.png" class="card-img-top" alt="...">
                                      </div>
                                    <div class="card-body">
                                      <a href="#" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> ADD</a>
                                      <a href="#" class="btn btn-danger"><i class="fa-solid fa-cart-plus"></i> CARD</a>
                                    </div>
                                  </div>
                              </div>
                              <div class="col">
                                <div class="card shadow p-2 mt-2">
                                    <p>3</p>
                                      <div class="card-img">
                                        <img src="../img/7268411.png" class="card-img-top" alt="...">
                                      </div>
                                    <div class="card-body">
                                      <a href="#" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> ADD</a>
                                      <a href="#" class="btn btn-danger"><i class="fa-solid fa-cart-plus"></i> CARD</a>
                                    </div>
                                  </div>
                              </div>
                              <div class="col">
                                <div class="card shadow p-2 mt-2">
                                    <p>3</p>
                                      <div class="card-img">
                                        <img src="../img/7268411.png" class="card-img-top" alt="...">
                                      </div>
                                    <div class="card-body">
                                      <a href="#" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> ADD</a>
                                      <a href="#" class="btn btn-danger"><i class="fa-solid fa-cart-plus"></i> CARD</a>
                                    </div>
                                  </div>
                              </div>
                              <div class="col">
                                <div class="card shadow p-2 mt-2">
                                    <p>3</p>
                                      <div class="card-img">
                                        <img src="../img/7268411.png" class="card-img-top" alt="...">
                                      </div>
                                    <div class="card-body">
                                      <a href="#" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> ADD</a>
                                      <a href="#" class="btn btn-danger"><i class="fa-solid fa-cart-plus"></i> CARD</a>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="box">
                        <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                          <div class="col">
                            <div class="card shadow p-2 mt-2">
                                <div class="box-top">
                                    <p>3</p>
                                    <h5>Steak</h5>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                                  <div class="card-img">
                                    <img src="https://i.pinimg.com/474x/28/2e/22/282e222464666a3b7cb47b1ae41b44ad.jpg" class="card-img-top" alt="...">
                                  </div>
                                <h6>$10</h6>
                                <div class="box-end">
                                    <i class="fa-solid fa-circle-minus"></i>
                                    <input type="text">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                              </div>
                          </div>
                          <div class="col">
                            <div class="card shadow p-2 mt-2">
                                <div class="box-top">
                                    <p>3</p>
                                    <h5>Steak</h5>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                                  <div class="card-img">
                                    <img src="https://i.pinimg.com/474x/28/2e/22/282e222464666a3b7cb47b1ae41b44ad.jpg" class="card-img-top" alt="...">
                                  </div>
                                <h6>$10</h6>
                                <div class="box-end">
                                    <i class="fa-solid fa-circle-minus"></i>
                                    <input type="text">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                              </div>
                          </div>
                          <div class="col">
                            <div class="card shadow food p-2 mt-2">
                                <div class="box-top">
                                    <p>3</p>
                                    <h5>Steak</h5>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                                  <div class="card-img">
                                    <img src="../img/" class="card-img-top" alt="...">
                                  </div>
                                <h6>$10</h6>
                                <div class="box-end">
                                    <i class="fa-solid fa-circle-minus"></i>
                                    <input type="text">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                              </div>
                          </div>
                          <div class="col">
                            <div class="card shadow p-2 mt-2">
                                <div class="box-top">
                                    <p>3</p>
                                    <h5>Steak</h5>
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </div>
                                  <div class="card-img">
                                    <img src="https://i.pinimg.com/474x/28/2e/22/282e222464666a3b7cb47b1ae41b44ad.jpg" class="card-img-top" alt="...">
                                  </div>
                                <h6>$10</h6>
                                <div class="box-end">
                                    <i class="fa-solid fa-circle-minus"></i>
                                    <input type="text">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                        
                    </div>
                    <div class="box">
                        <p> PAY BILL </p>
                    </div>
                    <div class="box">
                        <p> INFORMATION </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="../js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>